{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}


       
    <a href="http://127.0.0.1:5501/index.html" class="main-btn">بازگشت</a>

    <div class="container-fluid ">
        <div class="row d-flex justify-content-center align-items-center"  style="margin-top: 40px;">
            <div
                class="col-12 d-flex justify-content-center align-items-center flex-column  w-100 border border-5 rounded-5 border-black">

                <div class="swiper myslider mt-4" style="max-width: 950px;">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../public/img/speech-1.webp" class="img-fluid object-fit-cover w-100 rounded-4" style="height: 400px;" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../public/img/gas-3.webp" class="img-fluid object-fit-cover w-100 rounded-4" style="height: 400px;"/>
                       </div>
                        <div class="swiper-slide">
                            <img src="../public/img/gas-industry.webp" class="img-fluid object-fit-cover w-100 rounded-4" style="height: 400px;" />
                        </div>
                        <div class="swiper-slide">
                            <img src="../public/img/gas-industry-1.webp" class="img-fluid object-fit-cover w-100 rounded-4"  style="height: 400px;"/>
                        </div>
                    </div>
                </div>
                <h3 class="iron mt-5" style="color: #186600;">الزام مدیریت مصرف انرژی در تولید مجتمع های پتروشیمی</h3>
                <h3 class="iron" style="color: #186600;">معاون وزیر نفت و مدیر عامل شرکت ملی صنایع پتروشیمی گفت: مجتمع های پتروشیمی ملزم به مدیریت مصرف انرژی در فرایند افزایش تولید از طریق تکمیل زنجیره ارزش هستند.</h3>
                <P class="new-line" style="color: #0c5460; margin-top: 30px; font-size: 20px; text-align: justify;">
                    به گزارش نیپنا، مرتضی شاهمیرزایی معاون وزیر و مدیرعامل شرکت ملی صنایع پتروشیمی در جلسه کارگروه تخصصی انرژی مجتمع های الفینی و پلیمری با اشاره به اهمیت مدیریت مصرف انرژی در فرآیند تولید، گفت: شاخص مصرف انرژی در ایران زیاد مطلوب نیست و ما باید با بهینه سازی مبتنی بر عقلانیت و تکنولوژی و با استفاده از توانایی های مراکز علمی و پژوهشی و دانش بنیان مصرف انرژی را به حداقل برسانیم.

وی در جهت مدیریت مصرف انرژی افزود:نقش مدیریت انرژی در این زمینه بسیار مهم است و باید به آسیب های اقتصادی و اجتماعی انتشار گازهای فلر توجه داشت.

وی تاکید بر اینکه ممکن است در آینده نزدیک گازهای فلر اهرمی برای تحت فشار قرار دادن کشور توسط غرب باشد، پس باید به صورت ویژه در این زمینه اقدامات موثری انجام داد.
مدیرعامل شرکت ملی صنایع پتروشیمی با تاکید بر اهمیت اشتراک گذاری دانش و باتوجه به اینکه مصرف بهینه و اقتصادی منابع انرژی از گذشته در فرهنگ ما وجود داشته است، بیان کرد: باید عمیق تر و با در نظر داشتن بهره وری بیشتر از منابع انرژی به سوی استفاده بهینه از منابع موجود حرکت کنیم.

مدیرعامل شرکت ملی صنایع پتروشیمی با تاکید بر اهمیت اشتراک گذاری دانش و باتوجه به اینکه مصرف بهینه و اقتصادی منابع انرژی از گذشته در فرهنگ ما وجود داشته است، بیان کرد: باید عمیق تر و با در نظر داشتن بهره وری بیشتر از منابع انرژی به سوی استفاده بهینه از منابع موجود حرکت کنیم.

مدیر عامل شرکت ملی صنایع پتروشیمی از راه‌اندازی واحد PDH پتروشیمی رجال به‌ عنوان نخستین PDH کشور تا اوایل سال آینده خبر داد.
                </P>
            </div>
        </div>

    </div>
    </div>


    </div>
    
{% endblock content %}
